<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../mainTemplate.css">
        <title>Wine Data Lake</title>
    </head>
    <body>
        <div class="header">
            <img src="logo.jpg">
            WINE DATA LAKE
            <button>Sign Up</button>
            <button>Sign In</button>
        </div>
        {{{body}}}
        <div class="footer">
            About | Contact Us | Developers | How to Use This Site
        </div>
    </body>
</html>