
<div class="login-page screen">
    <div class="overlap-group6">
        <div class="base"></div>
        <div class="overlap-group4">
            <img class="logo-container" src="/images/wineLogo.JPG" alt="Logo Container" />
            <h1 class="title">Winery Registration</h1>
            <p class="sign-in-to-your-account"> Please fill out the form below to sign up </p>

             <div class="username-input">
                <i class="fa-solid fa-user fa-2x"></i>
                <input type="text" id="uName" name="username" class="username-container" placeholder="username"></input>
            </div>

             <div class="winery-input">
                <i class="fa-solid fa-signature fa-2x"></i>
                <input type="text" id="uName" name="username" class="username-container" placeholder="winery name"></input>
            </div>

            <div class="address-input">
                <i class="fa-solid fa-location-dot fa-2x"></i>
                <input type="text" id="uName" name="address" class="username-container" placeholder="address"></input>
            </div>

            
            <div class="phone-input">
                <i class="fa-solid fa-phone fa-2x"></i>
                <input type="text" id="uName" name="phone" class="username-container" placeholder="phone number"></input>
            </div>


            <div class="email-input">
                <i class="fa-solid fa-envelope fa-2x"></i>
                <input type="text" id="uName" name="email" class="username-container" placeholder="email address"></input>
            </div>

            <div class="password-input">
                <i class="fa-solid fa-lock fa-2x"></i>
                <input type="text" id="uName" name="password" class="username-container" placeholder="password"></input>
            </div>

            <div class="passwordConfirmation-input">
                <i class="fa-solid fa-lock fa-2x"></i>
                <input type="text" id="uName" name="cPassword" class="username-container" placeholder="confirm password"></input>
            </div>

        
            
            
            <!--Still need to connect login to home if needed-->
            <button type="button" class="overlap-group2">
                <div class="login">Register</div>
            </button>
        </div>
    </div>
</div>