<div class="contentBackground">
    <div class="pageHeader">
        <h1>ABOUT US</h1>
    </div>
    <div class="pageContent">
        <p>
            A little bit about the Wine Data Lake...
        </p>
    </div>
</div>