<div class="contentBackground">
    <div class="pageHeader">
        <h1>ABOUT US</h1>
    </div>
    <div class="pageContent">
        <h2>
            How Wine Data Lake Started
        </h2>
        <p>
            The story began when Jim Cupples and his business partner, Chris Styles,  launched a project called All The Farms. A website similar to IMDB, but for farms. After the launch, Jim Cupples met a fellow entrepreneur named Jake Corbin, who had his own startup called VinoShares, at an accelerator program for military Veterans. Jake inquired if All The Farms also contained winery data alongside farm data. According to Jake, winery and wine data were sorely lacking and he thought it would Jim would be able to sell that data to other people via an API.  While All The Farms didn’t store winery data, Jake's question sparked a curiosity in Jim that would lead to a worthwhile endeavor to collect that data.  
        </p>
        <p>
            Eventually, we created a product called All The Wineries that was meant to help people find local wineries/wines. We still had to collect data for All The Wineries and figure out a way to ingest the wine industry’s tech sheets, which would be used to populate our database.
        </p>
        <p>
            Wine Data Lake was the tool we ended up developing in order to ingest and store tech sheets. We later thought, “We might as well share these tech sheets with the public, as well as see if we can sell their data B2B (as in the Jake Corbin/VinoShares example).
        </p>
        <p>
            Our first attempt at Wine Data Lake was with a tool that automatically scraped/scanned tech sheets, but we found it very problematic. Now tech sheets and their data are stored manually by the WDL team and the database is updated monthly with new wine tech sheets and data. We are now able to confidently provide users with the opportunity to explore and discover new tech sheets while they navigate through Wine Data Lake.
        </p>
        
    </div>
</div>