<div class="contentBackground">
    <div class="pageHeader">
        <h1>CONTACT US</h1>
    </div>
    <div class="pageContent">
        <p>
            Have any questions or suggestions? <br>
            Contact us through the following means:
        </p>
    </div>
</div>