<div class="contentBackground">
    <div class="pageHeader">
        <h1>DEVELOPERS</h1>
    </div>
    <div class="pageContent">
        <p>
            A little bit about the Wine Data Lake Development Team...
        </p>
    </div>
</div>