<div class="overlap-group6">
    <div class="overlap-group4">
        <img class="logo-container" src="/images/wineLogo.JPG" alt="Logo Container" />
        <h1 class="title">Forgot Password</h1>
        <ul>
            {{#if message}}
                <p>{{message}}</p>
            {{/if}}
        </ul>
    </div>
</div>