<div class="overlap-group6">
    <div class="overlap-group4">
        <img class="logo-container" src="/images/wineLogo.JPG" alt="Logo Container" />
        <h1 class="title">Forgot Password</h1>
        <p class="enter-email">Please enter your email</p>
        <ul>
            {{#if message}}
                <p>{{message}}</p>
            {{/if}}
        </ul>
        <form action="/forgot-password" method="POST">
            <div class="username-input">
                <i class="fa-solid fa-user fa-2x"></i>
                <input type="email" id="email" name="email" class="username-container" placeholder="Email" required></input>
            </div>
            <button type="submit" value="sendEmail" class="overlap-group2">
                <div class="forgot">Send</div>
            </button>
        </form>
    </div>
</div>