<div class="contentBackground">
    <div class="pageHeader">
        <h1>HOW TO USE THIS SITE</h1>
    </div>
    <div class="pageContent">
        <p>
            Ways to search:<br>
            -Use search feature on the homepage<br>
            -Go through the directory page to manually search<br> 
        </p>
    </div>
</div>