<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">

<div class="home-anauthenticated screen">
    <div class="overlap-group2">
        <!--<header class="header">
            <div class="hamburger">
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
            </div>
            <a href="home-anauthenticated.html" class="align-self-flex-start"
              ><img class="logo" src="logo.png" alt="logo"
             /></a>
            <div class="overlap-group1">
                <div class="sign-up-sign-in">
                    <div class="sign-up">
                        <div class="overlap-group">
                            <div class="text valign-text-middle montserrat-medium-christalle-16px">Sign up</div>
                        </div>
                    </div>
                    <div class="text-1 valign-text-middle text-4 montserrat-medium-christalle-16px">Sign in</div>
                </div>
                <div class="text-2 valign-text-middle text-4 montserrat-medium-christalle-16px">Sign in</div>
            </div>
        </header> -->
        <div class="overlap-group3">
            <img class="wine-background" src="/images/wine-background.png" alt="Wine Background" />
            <div class="tech-sheets">
                <img class="origin_johan_pinot_2015" src="/images/origin-johan-pinot-2015@2x.png" 
                alt="origin_johan_pinot_2015" /><img
                class="nv_johan_petillant"
                src="/images/nv-johan-petillant@2x.png"
                alt="nv_johan_petillant"
                /><img class="origin_johan_pinot_2016" src="/images/origin-johan-pinot-2016@2x.png"
                alt="origin_johan_pinot_2016" /><img
                class="nv_johan_helixchardonnay"
                src="/images/nv-johan-helixchardonnay.png"
                alt="nv_johan_helixchardonnay"
                />
            </div>
            <div class="tech-sheets-1">
                <img
                class="origin_johan_pinot_2015-1 origin_johan_pinot_2015-3"
                src="/images/origin-johan-pinot-2015-1@2x.png"
                alt="origin_johan_pinot_2015"
                /><img class="nv_johan_petillant-1" src="/images/nv-johan-petillant-1@2x.png" alt="nv_johan_helixchardonnay" />
                <img
                class="origin_johan_pinot_2016-1"
                src="/images/origin-johan-pinot-2016-1@2x.png"
                alt="origin_johan_pinot_2016"
                /><img class="nv_johan_helixchardonnay-1" src="/images/nv-johan-helixchardonnay-1@2x.png"
                alt="nv_johan_helixchardonnay" />
            </div>
            <!--<footer class="footer">
                <div class="overlap-group-1">
                    <p class="x">
                        <span class="montserrat-medium-white-20px">About</span>
                        <span class="montserrat-medium-moon-raker-20px">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        <span class="montserrat-medium-white-20px">contact Us</span>
                        <span class="montserrat-medium-moon-raker-20px">|&nbsp;&nbsp;</span>
                        <span class="montserrat-medium-white-20px">Developer</span>
                        <span class="montserrat-medium-moon-raker-20px">|&nbsp;&nbsp;</span>
                        <span class="montserrat-medium-white-20px">How To Use This Site</span>
                    </p>
                    <div class="about montserrat-medium-moon-raker-20px">About</div>
                    <div class="contact-us montserrat-medium-moon-raker-20px">Contact Us</div>
                    <div class="developer montserrat-medium-moon-raker-20px">Developer</div>
                    <p class="how-to-use-this-site montserrat-medium-moon-raker-20px">How To Use This Site</p>
                </div>
            </footer> -->
            <div class="group-2">
                <div class="tech-sheets-2">
                    <img
                      class="origin_johan_pinot_2015-2 origin_johan_pinot_2015-3"
                      src="/images/origin-johan-pinot-2015-2@2x.png"
                      alt="origin_johan_pinot_2015"
                    />
                </div>
                <div class="content">
                    <div class="overlap-group1-1">
                        <h1 class="slogan"> Choose the right glass</h1>
                        <div class="search-components">
                            <div class="flex-col">
                                <div class="overlap-group-2">
                                    <div class="search-by-keyword">Search by keyword...</div>
                                    <div class="text-1-1">🔍</div>
                                </div>
                                <a onclick="window.event.stopPropagation()"><div class="advanced-search">Advanced Search ▼</div></a>
                            </div>
                            <div class="search-button">
                                <div class="text-3 text-4">Search</div>
                            </div>
                        </div>
                        <div class="big-dark-button">
                            <div class="big-dark-button-1 big-dark-button-3">
                                <div class="big-dark-button-2 big-dark-button-3">
                                    <div class="surprise-me valign-text-middle">Surprise Me?!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sample-thumbnail">
                    <img class="image-2" src="/images/image-2@2x.png" alt="image 2" />
                </div>
            </div>
        </div>
    </div>
</div>