<div class="home-anauthenticated screen">
    <div class="overlap-group2">
        <div class="overlap-group3">
            <div class="tech-sheets">
                <img class="origin_johan_pinot_2015" src="/images/origin-johan-pinot-2015.png" 
                alt="origin_johan_pinot_2015" /><img
                class="nv_johan_petillant"
                src="/images/nv-johan-petillant.png"
                alt="nv_johan_petillant"
                /><img class="origin_johan_pinot_2016" src="/images/origin-johan-pinot-2016.png"
                alt="origin_johan_pinot_2016" /><img
                class="nv_johan_helixchardonnay"
                src="/images/nv-johan-helixchardonnay.png"
                alt="nv_johan_helixchardonnay"
                />
            </div>
            <div class="tech-sheets-1">
                <img
                class="origin_johan_pinot_2015-1 origin_johan_pinot_2015-3"
                src="/images/origin-johan-pinot-2015.png"
                alt="origin_johan_pinot_2015"
                /><img class="nv_johan_petillant-1" src="/images/nv-johan-petillant.png" alt="nv_johan_helixchardonnay" />
                <img
                class="origin_johan_pinot_2016-1"
                src="/images/origin-johan-pinot-2016.png"
                alt="origin_johan_pinot_2016"
                /><img class="nv_johan_helixchardonnay-1" src="/images/nv-johan-helixchardonnay.png"
                alt="nv_johan_helixchardonnay" />
            </div>
            <div class="group-2">
                <div class="tech-sheets-2">
                    <img
                      class="origin_johan_pinot_2015-2 origin_johan_pinot_2015-3"
                      src="/images/origin-johan-pinot-2015.png"
                      alt="origin_johan_pinot_2015"
                    />
                </div>
                <div class="content">
                    <form method="GET" id="search-results" action="/search-results">
                    <div class="overlap-group1-1">
                        <h1 class="slogan"> Choose the right glass</h1>
                        <div class="search-components">
                            <div class="flex-col">
                                <input type="text" id="uInput" name="search" class="overlap-group-2" placeholder="Search-by-keyword🔍">
                                    <!--<input type="text" id="uInput" name="search" class="search-by-keyword">Search by keyword...</input>
                                    <div class="text-1-1">🔍</div> -->
                                </input>
                                <a onclick="window.event.stopPropagation()"><div class="advanced-search">Advanced Search ▼</div></a>
                            </div>
                            <input type="submit" class="search-button">
                                <div class="text-3 text-4">Search</div>
                            </div>
                        </div>
                        <div class="big-dark-button">
                            <div class="big-dark-button-1 big-dark-button-3">
                                <div class="big-dark-button-2 big-dark-button-3">
                                    <div class="surprise-me valign-text-middle">Surprise Me?!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="sample-thumbnail">
                    <img class="image-2" src="/images/alloro-2017.png" alt="image 2" />
                </div>
            </div>
        </div>
    </div>
</div>