<div class="login-page screen">
    <div class="overlap-group6">
        <div class="base"></div>
        <div class="overlap-group4">
            <img class="logo-container" src="/images/wineLogo_nobackground.PNG" alt="Logo Container" />
            <h1 class="title">Login</h1>
            <p class="sign-in-to-your-account"> Sign in to your account</p>
            <ul>
                {{#if message}}
                    <p>{{message}}</p>
                {{/if}}
            </ul>
            <form action="/login" method="POST">
                <div class="username-input">
                    <i class="fa-solid fa-user fa-2x"></i>

                    <input type="text" id="email" name="email" class="username-container" placeholder="Email">

                        <!--<i class="fa-solid fa-user fa-2x"></i>-->
                        <!--<div class="username montserrat-medium-windsor-28px-2">Username</div>-->
                    </input>
                </div>
                <div class="password-input">
                    <i class="fa-solid fa-lock fa-2x"></i>

                    <input type="password" id="password" name="password" class="overlap-group1" placeholder="Password">

                        <!--<i class="fa-solid fa-lock fa-2x"></i>
                        <div class="password montserrat-medium-windsor-28px-2">Password</div>-->
                    </input>
                </div>
                <!--Still need to connect login to home if needed-->

                <button type="submit" value="Login" class="overlap-group2">
                    <div class="login">Login</div>
                </button>
            </form>
            <a href="/forgot-password" class="i-forgot-my-password">I forgot my password</a>
            <button type="button" class="overlap-group3">
                <div class="new-account">Register New Account</div>
            </button>
        </div>
    </div>
</div>