<div class="titleWrapper">
    Wine Data Lake
</div>
<div class="sectionWrapper">
    <div class="sectionTitle">
        <p>The Wine Data Lake Team</p>
        <hr>
    </div>
    <p>
        Author
        <br>
        <b>Jim Cupples</b>
    </p>
    <p>
        Developers
        <br>
        <b>
            Austin Chayka
            <br>
            Chelsea Bowers
            <br>
            Chengwei Huang
            <br>
            John Perez Almejo
        </b>
    </p>
</div>
<div class="sectionWrapper">
    <div class="sectionTitle">
        <p>Project Purpose</p>
        <hr>
    </div>
    <p class="quote">
        <i>
            “What are the biggest challenges in creating a comprehensive wine database for the typical internet user? There is no database about wine that is authoritative and usable. The closest are CellarTracker and WineSearcher built over decades but not open for use for other applications. But this is a forever problem that starts again every single year — last year alone, just in the US, there were 111K new products submitted to the TTB (Alcohol and Tobacco Tax Trade Bureau).”
        </i>
        <a href="https://www.thedrinksbusiness.com/2022/09/we-are-regrouping-paul-mabray-on-the-future-of-pix-wine/">(Smith 2022)</a>
    </p>
    <p>
        &emsp;&emsp;&emsp;Wine Data Lake aims to offer accessible tech sheet data by creating a platform for wine enthusiasts to search for wine tech sheets based on keywords. These keywords are derived from a database built on information from tech sheets. Wine Data Lake hopes to offer smaller wineries more visibility as well as give enthusiasts a single location to access information on their favorite wines and discover new ones!  Effectively, the Wine Data Lake Project will help expand smaller wineries and help connect wine enthusiasts with more of which they enjoy.
    </p>
</div>
<div class="sectionWrapper">
    <div class="sectionTitle">
        <p>The Wine Data Lake Solution</p>
        <hr>
    </div>
    <p>
        &emsp;&emsp;&emsp;Have you ever tried shopping on different websites at once? Usually, it involves multiple tabs open which leads to a confusing pile of browsers overlapping one another. This is what it is currently like when trying to browse multiple wine tech sheets, without paying for a specialized service. It is tedious, time-consuming, and many good wines are overshadowed by their more popular competition. Fortunately, Wine Data Lake aims to tackle these issues! 
    </p>
    <p>
        &emsp;&emsp;&emsp;Many winery marketing teams spend a lot of time creating detailed information sheets for each wine, called tech sheets, that are often only shared with businesses or other wineries. As mentioned in the quote above, this means that there is no single location for wine information or the tech sheets to be accessed, especially by the public, without paying or being a business.
    </p>
    <p>
        &emsp;&emsp;&emsp;Another issue is that there is no standard on how tech sheets are formatted. This makes any automated information gathering from the tech sheets quite difficult because even the same bits of data may be labeled differently. For example, there are two tech sheets from different wineries below. As you can see, they are vastly different from each other, not only in the layout but also in the information given. Data for soils or even the amount of cases produced also have different labels: soil/ soils and production/ cases produced. 
    </p>
    <p>
        <img src="/images/techsheetExample.png">
    </p>
    <p>
        &emsp;&emsp;&emsp;Wine Data Lake aims to fix these issues and inform the general public about their favorite bottles unlike our competitors, which are generally not available to the public and are only used in business-to-business transactions. Because of this, our competitors are first and foremost a platform used for selling rather than educating. Consequently, this leads to the exclusion of the general public and smaller wineries. Wine Data Lake however does no such thing! We offer both wineries and wine lovers the opportunity to access hundreds of wine tech sheets without a price or membership. Wineries that are interested can also freely upload their tech sheets to Wine Data Lake and add relevant data, so the general public can access and see their wine offerings while not being overshadowed by larger wineries.
    </p>
    <p>
        <img src="/images/roadmap.png">
    </p>
</div>
<div class="sectionWrapper">
    <div class="sectionTitle">
        <p>Where to Find Help</p>
        <hr>
    </div>
    <p>
        <img src="/images/siteLayout.png">
    </p>
    <p>
        Answers to the general question can be found at <a href="/help">Help Page</a>. 
    </p>
    <p>
        For specific questions or inquiries, contact us at - jim@allthefarm.com
    </p>
</div>
<div class="sectionWrapper">
    <div class="sectionTitle">
        <p>Contact us</p>
        <hr>
    </div>
    <ul>
        <p>Jim Cupples - Jim@allthefarms.com</p>
        <p>Austin Chayka - austinchayka@gmail.com</p>
        <p>Chelsea Bowers - chelsea.bowers@live.com</p>
        <p>Chengwei Huang - 21seungri@gmail.com</p>
        <p>John Perez Almejo - johnperez_1056@yahoo.com</p>
    </ul>
</div>
<div class="sectionWrapper">
    <div class="sectionTitle">
        <p>Access the Site</p>
        <hr>
    </div>
    <p><a href="/">WineDataLake.com Home Page</a></p>
</div>