
<div class="login-page screen">
    <div class="overlap-group6">
        <div class="base"></div>
        <div class="overlap-group4">
            <img class="logo-container" src="/images/wineLogo.JPG" alt="Logo Container" />
            <h1 class="title">Account Recovery</h1>
            <p class="sign-in-to-your-account"> Enter email address associated with account </p>
            <div class="username-input">
                <i class="fa-solid fa-envelope fa-2x"></i>
                <input type="text" id="uName" name="username" class="username-container" placeholder="email address">
                    <!--<i class="fa-solid fa-user fa-2x"></i>-->
                    <!--<div class="username montserrat-medium-windsor-28px-2">Username</div>-->
                </input>
            </div>
            
            <!--Still need to connect login to home if needed-->
            <button type="button" class="overlap-group2">
                <div class="login">Email link</div>
            </button>
        </div>
    </div>
</div>