
<div class="login-page screen">
    <div class="overlap-group6">
        
        <div class="overlap-group4">
            <img class="logo-container" src="/images/wineLogo.JPG" alt="Logo Container" />
            <h1 class="title">register</h1>
            <p class="sign-in-to-your-account"> register your account</p>
            <div class="username-input">
                <div class="username-container">
                    <i class="fa-solid fa-user fa-2x"></i>
                    <div class="username montserrat-medium-windsor-28px-2">EMail</div>
                </div>
            </div>
            <div class="username-input">
                <div class="username-container">
                    <i class="fa-solid fa-user fa-2x"></i>
                    <div class="username montserrat-medium-windsor-28px-2">Username</div>
                </div>
            </div>
            <div class="password-input">
                <div class="overlap-group1">
                    <i class="fa-solid fa-lock fa-2x"></i>
                    <div class="password montserrat-medium-windsor-28px-2">Password</div>
                </div>
            </div>
             <div class="password-input">
                <div class="overlap-group1">
                    <i class="fa-solid fa-lock fa-2x"></i>
                    <div class="password montserrat-medium-windsor-28px-2">Confirm Password</div>
                </div>
            </div>
           
            <div class="overlap-group2">
                <div class="login">Register</div>
            </div>
         </div>
    </div>
</div>