
<div class="login-page screen">
    <div class="overlap-group6">
            <div class="base"></div>
            <div class="overlap-group4">
                <h1 class="title">Alloro Vineyard Estate Riesling Profile</h1>

                <div class="flexcontainer">
                    <div class= "child1" id="c1">3,719 </div>
                    <div class= "child2" id="c1">1,517 </div>
                    <div class= "child3" id="c1">2.43 Min </div>
                </div>

                <div class="loginTime"> Weekly Visitors</div>
                <div class="loginWeek"> Unique Visitors</div>
                <div class="uniqueVisits"> Time On Profile</div>

                <div class="rectangle"></div>

                <div class="myWinery"> My Winery</div>
                <div class="myBottles"> My Bottles</div>
                <div class="mySales"> My Sales</div>
                <div class="settings"> Settings</div>

                <div class="google">GOOGLE ANALYTICS GRAPH HERE</div>




            </div>
    </div>
</div>