
<div class="login-page screen">
    <div class="overlap-group6">
            <div class="base"></div>
            <div class="overlap-group4">
                <img class="logo-container" src="/images/wineLogo.JPG" alt="Logo Container" />
                <h1 class="title">Tech Sheet Upload</h1>
                
                <div class="file-upload">
                    <input class="file-upload__input" type="file" name="myFile" id="myFile">
                    <!--<button class="file-upload__button" type="button">Choose File</button>
                    <span class="file-upload__label"> No file selected</span>-->
                </div>

                <div class="box-input">
                    <input type="text" id="uName" name="name" class="box-container" placeholder="wine name"></input>
                </div>

                <div class="box-input">
                    <input type="text" id="aPercentage" name="aPercentage" class="box-container" placeholder="alcohol %"></input>
                </div>

                <div class="box-input">
                    <input type="text" id="soil" name="soil" class="box-container" placeholder="soil"></input>
                </div>

                
                <div class="box-input">
                    <input type="text" id="harvest" name="harvest" class="box-container" placeholder="harvest date"></input>
                </div>


                <div class="box-input">
                    <input type="text" id="clearing" name="clearing" class="box-container" placeholder="clearing year"></input>
                </div>

                <div class="box-input">
                    <input type="text" id="production" name="production" class="box-container" placeholder="production cases"></input>
                </div>

                <div class="box-input">
                    <input type="text" id="price" name="price" class="box-container" placeholder="retail price"></input>
                </div>

            
                
                
                <!--Still need to connect login to home if needed-->
                <button type="button" class="overlap-group2">
                    <div class="upload">Upload</div>
                </button>
            </div>
    </div>
</div>