<div class="overlap-group6">
    <div class="overlap-group4">
        <img class="logo-container" src="/images/wineLogo.JPG" alt="Logo Container" />
        <h1 class="title">Update Password</h1>
        <p class="enter-email">Please enter your new password</p>
        <ul>
            {{#if message}}
                <p>{{message}}</p>
            {{/if}}
        </ul>
        <form id="update-password" action="/update-password/{{data}}" method="POST">
                <div class="password-input">
                    <i class="fa-solid fa-lock fa-2x"></i>
                    <input type="password" id="password" name="password" class="overlap-group1" placeholder="Password" required minlength="6"></input>
                </div>
                <div class="password-input">
                    <i class="fa-solid fa-lock fa-2x"></i>
                    <input type="password" id="password2" name="password2" class="overlap-group1" placeholder="Confirm Password" required minlength="6"></input>
                </div>
            <button type="submit" value="resetPassword" class="overlap-group2">
                <div class="login">Update</div>
            </button>
        </form>
    </div>
</div>