
<div class="login-page screen">
    <div class="overlap-group6">
            <div class="base"></div>
            <div class="overlap-group4">
                <h1 class="title">User123 Profile Analytics</h1>

                <div class="flexcontainer">
                    <div class= "child1" id="c1">0 Min </div>
                    <div class= "child2" id="c1">0 </div>
                    <div class= "child3" id="c1">0 </div>
                </div>

                <div class="loginTime"> Avg Login Time</div>
                <div class="loginWeek"> Logins Per Week</div>
                <div class="uniqueVisits"> Unique Page Visits</div>

                <div class="top5"> Most Visited Pages (Top 5)</div>

                <ul class="list">
                    <li>Napa's Best</li>
                    <li>Temecula's Best</li>
                    <li>Frances's Best</li>
                    <li>Pinot Noir</li>
                    <li>Oregon's Best </li>
                </ul>




            </div>
    </div>
</div>