<div class="contentBackground">
    <div class="userProfilePicDiv">
        <img src="/images/user.png" />
        <p>Dashboard<br>Log out</p>
    </div>
    <div class="userGreeting">
        <h1>Hi, {{data.userGreeting}}!</h1>
    </div>
    <div class="favorites">
        <div class="qualities">
            <h2><i class="fa-regular fa-heart"></i> Favorite Qualities</h2>
            {{#each data.qualities}}
                <li><a href="">{{this}}</a></li><br>
            {{/each}}
        </div>
        <div class="wineries">
            <h2><i class="fa-regular fa-heart"></i> Favorite Wineries</h2>
            <table>
            {{#each data.wineries}}
                <td>
                <img src="/images/winery_logo.png" />
                <li><a href="">{{this}}</a></li><br>
                </td>
            {{/each}}
            </table>
        </div>
        <div class="techsheets">
            <h2><i class="fa-regular fa-heart"></i> Favorite Techsheets</h2>
            {{#each data.techsheets}}
                <li><a href="">{{this}}</a></li><br>
            {{/each}}
        </div>
    </div>
</div>