
.home-unauthenticated {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    height: 1024px;
    width: 1440px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.overlap-group2 {
    align-items:flex-start;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 1024px;
    width: 1440px;
}



.overlap-group3 {
    height: 943px;
    position: relative;
    width: 1440px;
}

.group-2 {
    display: flex;
    height: 256px;
    left: 125px;
    position: absolute;
    top: 310px;
    width: 1200px;
}

.tech-sheets-2 {
    display: flex;
    height: 262px;
    width:265.79px;
}

.home-unauthenticated .origin_johan_pinot_2015-3 {
    margin-left: -4px;
    object-fit: cover;
}

.origin_johan_pinot_2015-2{
    height: 100%;
    margin-left: -4px;
    margin-top: 5px;
    object-fit: fill;
    width: 276px;
    
}

.sample-thumbnail {
    background-color: white;
    border: 1px solid;
    border-color: #310866;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    height: 264px;
    margin-left: 50.9px;
    margin-top: 2px;
    overflow: hidden;
    width: 280px;
    border-radius: 18px;
    box-shadow: 0px 4px 4px #00000040;
}

.image-2 {
    content: center;
    object-fit: fill;
    height: 100%;
    width: 110%;
}

.content {
    align-items: flex-end;
    display: flex;
    height: 262px;
    margin-left: 32.5px;
    min-width: 584.86px;
}

.overlap-group1-1 {
    align-items: center;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/63eb03674af02e29f5f8eade/releases/63eb07d62e370d1798fe9587/img/white-content-card.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: -55px;
    margin-left: 15px;
    min-height: 270px;
    padding: 20.7px 35.9px;
    width: 591px;
}

.big-dark-button {
    cursor: pointer;
    display: flex;
    height: 55px;
    margin-left: 34.55px;
    margin-top: 35px;
    width: 196px;
}

.home-unauthenticated .big-dark-button-3 {
    display: flex;
    flex: 1;
}

.big-dark-button-1 {
    width: 195.76px;
}

.big-dark-button-2 {
    align-items: flex-start;
    background-color: #431f7e;
    border-radius: 25px;
    min-width: 195.76px;
    padding: 13px 14.5px;
}

.surprise-me{
    color: white;
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: 500;
    height: 26px;
    letter-spacing: 0;
    line-height: 26px;
    min-width: 164px;
    text-align: center;
    white-space: nowrap;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan {
    align-self: flex-start;
    color: #312063;
    font-family: 'Montserrat';
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 0;
    line-height:normal;
    min-height: 33px;
    text-align: center;
    width: 501px;
}

.search-components {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    gap: 30px;
    height: 56px;
    margin-right: 16.83px;
    margin-top: 41px;
    min-width: 449px;
}

.search-button {
    align-items: flex-end;
    background-color: #8161b4;
    color: white;
    border-radius: 25px;
    display: flex;
    height: 40px;
    font-size: 20px;
    font-family: 'Montserrat';
    justify-content: center;
    min-width: 120px;
    padding: 5px 42px;
    margin-top: -9px;
}

.home-anauthenticated .text-4 {
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
    white-space: nowrap;
}

.text-3 {
    color: white;
    font-family: 'Montserrat';
    font-size: 500;
    font-weight: 500;
    margin-bottom: -1.5px;
    min-width: 56px;
}

.flex-col {
    align-items: flex-start;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 0.49px;
    min-height: 54px;
    width: 277px;
}

.advanced-search {
    color: #3b0c77;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: -8px;
    margin-left: 9.71px;
    min-height: 18px;
    text-align: center;
    white-space: nowrap;
    width: 162px;
}

.overlap-group-2 {
    align-items: flex-start;
    background-color: #f8f8f8;
    border: 3px solid;
    border-color: #e3e3e3;
    border-radius: 5px;
    display: flex;
    gap: 27px;
    height: 28px;
    justify-content: flex-end;
    min-width: 277px;
    padding: 4.5px 7.2px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;

}

.overlap-group-2:hover {
    align-items: flex-start;
    background-color: #f8f8f8;
    border: 3px solid;
    border-color: #8161b4;
    border-radius: 5px;
    display: flex;
    gap: 27px;
    height: 28px;
    justify-content: flex-end;
    min-width: 277px;
    padding: 4.5px 7.2px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;

}

.text-1-1 {
    color: black;
    font-family: 'Montserrat';
    font-size: var(--font-size-x1);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 26px;
    min-height: 16px;
    white-space: nowrap;
}

.search-by-keyword {
    color: #00000080;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26px;
    min-height: 13px;
    white-space: nowrap;
    width: 201px;
}

.tech-sheets {
    display: flex;
    height: 243px;
    left: 132px;
    position: absolute;
    top: 28px;
    width: 1195px;
}

.nv_johan_helixchardonnay {
    height: 240.39px;
    margin-left: 51.1px;
    margin-top: 0.8px;
    object-fit: fill;
    width: 262.45px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
}

.origin_johan_pinot_2015 {
    height: 249.39px;
    margin-left: -4px;
    margin-top: 0.8px;
    object-fit: fill;
    width: 270.45px;
}

.origin_johan_pinot_2016 {
    height: 249.39px;
    margin-left: 40.1px;
    margin-top: 1.6px;
    object-fit: fill;
    width: 270.45px;
}

.nv_johan_petillant {
    height: 250.74px;
    margin-left: 45px;
    object-fit: fill;
    width: 270.45px;
}

.tech-sheets-1 {
    display: flex;
    height: 223px;
    left: 132px;
    position: absolute;
    top: 640px;
    width: 1193px;
}

.origin_johan_pinot_2016-1 {
    height: 229.56px;
    margin-left: 48.1px;
    margin-top: 1.6px;
    object-fit: fill;
    width: 267.29px;
}

.nv_johan_helixchardonnay-1 {
    height: 219.35px;
    margin-left: 48.1px;
    margin-top: 1.5px;
    object-fit: fill;
    width: 267.29px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #00000040;
}

.nv_johan_petillant-1 {
    height: 230.8px;
    margin-left: 45px;
    margin-top: 0;
    object-fit: fill;
    width: 267.29px;
}

.origin_johan_pinot_2015-1 {
    height: 229.56px;
    margin-top: 1.6px;
    width: 267.29px;
    object-fit: fill;
}

.overlap-group-1 {
    height: 28px;
    position: relative;
    width: 557px;
}

.x {
    color:transparent;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-1);
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 1px;
    white-space: nowrap;
}

.how-to-use-this-site {
    cursor: pointer;
    left: 351px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.contact-us {
    cursor: pointer;
    left: 91px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 1px;
    white-space: nowrap;
}

.about {
    cursor: pointer;
    left: 1px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 1px;
    white-space: nowrap;
}



.wine-background {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.overlap-group1 {
    height: 32px;
    margin-left: 837px;
    margin-top: 1px;
    position: relative;
    width: 196px;
}



.overlap-group {
    align-items: flex-start;
    background-color: #f2f2f2;
    border-radius: 25px;
    display: flex;
    height: 29px;
    justify-content: flex-end;
    min-width: 109px;
    padding: 0.5px 22.6px;
}

.text {
    height: 26px; 
    letter-spacing: 0; 
    line-height: 26px; 
    min-width: 63px;
    text-align: center;
    white-space: nowrap;
}

.text-1 {
    height: 26px;
    margin-top: 1px;
    min-width: 56px;
}

.text-2 {
    cursor: pointer;
    height: 26px;
    left: 140px;
    position: absolute;
    top: 0;
}

