
.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.overlap-group6 {
    height: 1024px;
    margin-left: 80px;
    position: relative;
    width: 1442px;
}



.wine-background {
    height: 100%;
    width: 200%;
    left: 8px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 1440px;
}

.overlap-group4 {
    align-items: center;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    left: 410px;
    min-height: 545px;
    padding: 19px 26px;
    position: absolute;
    top: 192px;
    width: 550px;
}

.username-input {
    align-items: flex-start;
    align-self: flex-start;
    cursor: pointer;
    display: flex;
    margin-top: 13px;
    min-width: 495px;
}

.username-container {
    align-items: flex-start;
    background-color: #F2F0F0;
    border: 2px solid;
    border-color: #977EB3;
    display: flex;
    gap: 37px;
    height: 51px;
    min-width: 525px;
    padding: 5px 8px;
}

.username {
    color: #977EB3;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 38px;
    align-items: center;
    letter-spacing: 0px;
    line-height: normal;
    margin-bottom: 3px;
    min-height: 34px;
    min-width: 148px;
}

.fa-lock {
    color: #977EB3;
    margin-top: 8px;
    height: 40px;
    width: 35px;
}

.fa-user {
    color: #977EB3;
    margin-top: 8px;
    height: 40px;
    width: 35px;
}

.i-forgot-my-password {
    color: #3b0b77bf;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: medium;
    margin-left: 1px;
    margin-top: 11px;
    min-height: 29px;
    min-width: 253px;
}

.overlap-group2 {
    align-items: flex-start;
    background-color:#3b0c77;
    border-radius: 15px;
    display: flex;
    height: 50px;
    margin-left: 1px;
    margin-top: 24px;
    min-width: 125px;
    padding: 9px 199px;
}

.login {
    color: white;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: normal;
    min-height: 29px;
    align-items: center;
}

.sign-in-to-your-account {
    color: #929292;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -15px;
    min-height: 29px;
    min-width: 282px;
}

.title {
    color: #310866;
    font-family: 'Montserrat';
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 68px;
    margin-top: 3px;
    min-height: 46px;
    width: 188px;
}

.password-input {
    align-items: flex-start;
    align-self: flex-end;
    cursor: pointer;
    display: flex;
    margin-top: 24px;
    min-width: 495px;
}

.overlap-group1 {
    align-items: flex-start;
    background-color: #F2F0F0;
    border: 2px solid;
    border-color: #977EB3;
    display: flex;
    gap: 37px;
    height: 51px;
    min-width: 525px;
    padding: 5px 8px;
    margin-right: 4px;
}

.password {
    color: #977EB3;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 38px;
    align-items: center;
    letter-spacing: 0px;
    line-height: normal;
    margin-bottom: 3px;
    min-height: 34px;
    min-width: 148px;
}

.logo-container {
    height: 96px;
    width: 248px;
}

.overlap-group3 {
    align-items: flex-start;
    background-color: #F2F0F0;
    border: 1px solid #3b0c77;
    border-radius: 15px;
    display: flex;
    height: 50px;
    margin-left: 1px;
    margin-top: 13px;
    min-width: 125px;
    padding: 9px 111px;
}

.new-account {
    color: #3b0c77;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 10px;
    line-height: normal;
    min-height: 29px;
}