html, body {
    height: 100%;
    margin: 0;
}

.logoWrapper {
    text-decoration: none;
    border: none;
    background-color: white;
    z-index: 3;
    cursor: pointer;
    margin-left: 3%;
}

.wrapper {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header, .footer {
    height: 6%;
    margin: 0;
    border: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header {
    background-color: #FFFFFF;
    color: #310866;
    top: 0%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.hamburgerMenu {
    position: absolute; 
    z-index: 5;
    top: 7.5%;
    left: 0;
    height: 45%;
    width: 13%;
    background: #310866;
    list-style: none;
    transform: translateX(-100%);
    transition: transform 0.2s;
}

.hamburgerMenu li {
    margin-top: 15%;
    letter-spacing: 3px;
}

.menuList {
    text-decoration: none; 
    color: white !important;
    font-size: large;
}

.hamburger {
    position: absolute;
    z-index: 10;
    height: 3vw;
    width: 3vw;
    top: 1vw;
    left: 1vw;
    background: #FFFFFF;
    border: none;
}

#xmark {
    display: none;
}

.showHamburgerMenu {
    transform: translateX(0);
}

.accountWrapper {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: row;
}

.accountWrapper button {
    background-color: #FBFCFD;
    color: #310866;
    border-radius: 25px;
    border: 1px solid #8162B5;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.accountWrapper button:hover {
    cursor: pointer;
}

.signInWrapper button, .userWrapper button {
    background-color: #FFFFFF;
    border: none;
}

.mainContent {
    background-image: url('/images/background.png');
    flex: 1 1 auto;
    display: flex;
    align-items: stretch;
    justify-items: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.footer {
    background-color: #3B0C77;
    bottom: 0%;
    color: #DACAF3;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.footer .contents {
    margin-left: auto;
    margin-right: 2%;
}

.footer .contents a {
    text-decoration: none;
}

.footer .contents a:visited {
    color: #DACAF3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #555;
}

.button-wrapper {
    margin-top: 20px;
}

.button-wrapper button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #8161b4;
    color: #fff;
    transition: background-color 0.3s;
}

.button-wrapper button:hover {
    background-color: #8161b4;
}

.button-wrapper{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}