.entryWrapper {
    background-color: white;
    padding: 2%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.entryWrapper button {
    color: #FBFCFD;
    background-color: #310866;
    border: none;
    cursor: pointer;
}

.entryWrapper button:hover {
    background-color: #8162B5;
}

.favoriteButton {
    font-size: 15px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.favoriteWineButton {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 25px;
}   

.wineName {
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #310866;
}

.popStat {
    font-weight: 500;
    font-size: 24px;
    line-height: 46px;
    color: #310866;
}

.visitButton {
    margin-bottom: 4%;
    border-radius: 12px;
    padding: 6px;
}

.techSheet {
    float: right;
}

.techSheet iframe {
    height: 400px;
    width: 100%;
    border: none;
}

.entryDataWrapper {
    width: 60%;
    padding: 1%;
}

.favoriteWineButton {
    position: absolute;
    right: -10px;
    top: -10px;
}

.properties {
    display: grid;
    overflow-x: auto;
    grid-template-columns: auto auto;
    grid-auto-flow: row;
    max-height: 200px;
    mask-image: linear-gradient(black calc(100% - 48px), transparent 100%)
}

.property {
    margin-left: 0%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.propertyName {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #310866;
}

.purchaseWrapper a {
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-radius: 25%;
    padding: 1%;
    font-size: 25px;
    color: #FBFCFD;
    background-color: #310866;
    text-align: center;
}

.downloadButton a:hover {
    background-color: #8162B5;
}

.downloadButton a {
    text-decoration: none;
    color: #FBFCFD;
    background-color: #310866;
    padding: 2%;
}

.keywordsWrapper {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #310866;
    padding-top: 2%;
}

.wineKeywords {
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
}

.keywordLink {
    padding-right: 3%;
}

.keywordLink a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #310866;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8162B5;
    cursor: pointer;
}