<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/mainTemplate.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <title>Wine Data Lake</title>
    </head>
    <body>
        <div class="header">
            <img src="logo.jpg">
            WINE DATA LAKE
            <button>Sign Up</button>
            <button>Sign In</button>
        </div>
        <div class="mainContent">
            {{{body}}}
        </div>
        <div class="footer">
            <div class="contents">
                <a href="">About</a> | <a href="">Contact Us</a> | <a href="">Developers</a> | <a href="">How to Use This Site</a>
            </div>
        </div>
    </body>
</html>